#chat-screen {
    background-color: #abc1d1;
    height: 11000vh;
}

#chat-screen .status-bar {
    background-color: #abc1d1;
    z-index: 2;     
}

/* z-index : 
div가 있는 위치가 맨 앞에서부터 몇 번째인지를 나타냄. layer의 순서가 몇 번째인지를 나타내는 것 
z-index의 기본값은 0. 숫자가 클수록 앞에 있는 것 */

#chat-screen .alt-header {
    position: fixed;
    width: 100%;
    background-color: #abc1d1;
    box-sizing: border-box;
    top: 14px;
    z-index: 1; 
}

.chat-search {
    margin-right: 12px;
}

.main-chat {
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 18px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 18px;
    margin-right: 15px;
}

.message__author {
    opacity: 0.8;
    font-size: 15px;
    display: block;
    margin-bottom: 8px;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__bubble {
    background-color: white;
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}

.message__time {
    opacity: 0.6;
    font-size: 13px;
}

.message-row__own {
    justify-content: flex-end;
}

.message-row__own .message__bubble {
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    margin-right: 0px;
    margin-left: 5px;
}

.message-row__own .message__info {
    flex-direction: row-reverse;
}