#chat-screen {
    background-color: #abc1d1;
    height: 200vh;
}

#chat-screen .status-bar {
    background-color: #abc1d1;
    z-index: 2;     
}

/* z-index : 
div가 있는 위치가 맨 앞에서부터 몇 번째인지를 나타냄. layer의 순서가 몇 번째인지를 나타내는 것 
z-index의 기본값은 0. 숫자가 클수록 앞에 있는 것 */

#chat-screen .alt-header {
    position: fixed;
    width: 100%;
    background-color: #abc1d1;
    box-sizing: border-box;
    top: 14px;
    z-index: 1; 
}

.chat-search {
    margin-right: 12px;
}

@keyframes fadeIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.main-chat {
    margin-top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn .3s linear;
}

.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 18px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 18px;
    margin-right: 15px;
}

.message__author {
    opacity: 0.8;
    font-size: 15px;
    display: block;
    margin-bottom: 8px;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__bubble {
    background-color: white;
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}

.message__time {
    opacity: 0.6;
    font-size: 13px;
}

.message-row__own {
    justify-content: flex-end;
}

.message-row__own .message__bubble {
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    margin-right: 0px;
    margin-left: 5px;
}

.message-row__own .message__info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    box-sizing: border-box;
    align-items: center;
    transition: transform all 0.3s ease-in-out;
}

.reply .reply__column:first-child{
    width: 10%;
}

.reply .reply__column:last-child{
    width: 90%;
    position: relative;
}

.reply i {
    opacity: 0.6;
}

.reply input {
    padding: 10px;
    width: 100%;
    border: var(--main-border);
    border-radius: 17px;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: 7px;
    top: 6px;
}

.reply__column:last-child > i {
    right: 43px;
    top: 18px;
}

.reply__column button {
    background-color: var(--yellow);
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.reply__column button i {
    opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button {
    transition: opacity .3s ease-in-out;
}

/* reply 내부에 어떤 element가 focus되어 있다면, 이라는 뜻. 어떤 element가 있는지 확인하는 데 사용
focus-within : 내부적으로 focus된 element가 있는지 알 수 있도록 해줌 */
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
    opacity: 0;
}

.reply input:focus {
    width: 92vw;
    transform: translateX(-12%) translateY(-50px);
    /* 기억할 것! 이 transform이 잘 작동되는 이유는 어딘가에서 
    .reply input이 transition을 가졌기 때문!! */
}

.reply:focus-within {
    transform: translateY(50px);
}   /* reply 안에 있는 무언가가 focus되면 transform이 발생 */