#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 8px 0px;
    font-size: 14px;
    margin-bottom: 12px;
    margin-top: -20px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__channel-header {
    margin-bottom: 23px;
    display: flex;
    justify-content: space-between;
    color: var(--subtitle-text);
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden; /* 해결책
        검사해보면 아직도 element는 존재함.. 
        visibility:hidden 이거는 마우스에 걸리지 않게 빠져버리는 것 */
    }
}

#splash-screen {
    background-color: var(--yellow);
    position: absolute;
    height: 100vh;;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 1.5s;    /* 애니메이션 지연시키기 _이게없다면 애니메이션은 바로 재생됨 */
}

/* 이렇게 되면 애니메이션이 작동하기는 하지만 애니메이션이 끝나고 나면 다시 원래 상태로 돌아와버림.
element의 마지막 상태를 기억하지 못하고 원래 상태를 유지하는 것
근데 forwards 라는 속성을 주게 되면, 마지막 속성 값(finally property value)를 기억하게 됨 
 >> 마지막 속성값은 마지막 keyframes로 정해지고 애니메이션이 끝나고도 유지한다.
 forwads는 마지막 keyframes를 기억함 */
 /* 그러나 여기서 문제... 보이지만 않는거지 여전히 존재함!! 100vh 100vw를 가지고 있음... __어쩐지 클릭이 안되더라...
 element가 여전히 존재. 그냥 opacity가 0이 된 것 뿐..  _위에 해결책 */
