.welcome-header {
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.welcome-header__title {
    margin-bottom: 20px;
    font-size: 25px;
}

.welcome-header__text {
    width: 60%;
    opacity: 0.7;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input {
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 20px;
}

/* input type이 submit이 아닐 때에만 / css 속성 not. ==> 무언가가 적용되길 원하지 않을 때 특정 조건을 빼고 적용시키게 하는 것 */
#login-form input:not([type="submit"]) {    /* [] 안에 쓰인 것들은 특성 선택자(attribute selector) */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color .3s ease-in-out;
}

#login-form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
    border-color: var(--yellow);
}

#login-form input[type="submit"] {
    background-color: var(--yellow);
    cursor: pointer;    /* not-allowed, progress 등등 */
    font-size: 16px;
    border-radius: 7px;
}

#login-form a {
    text-align: center;
    text-decoration: none;
    color: inherit;     /* a가 색상을 아버지로부터 상속받아오는 것 _login-form의 default색상은 검정 */
    font-size: 14px;
}