#no-mobile {
    position: absolute; /* 모든 것들의 위로 올라가겠지 */
    z-index: 99;    /* splash나 friends 스크린이 더 이상 위로 올라오지 않게.. 이게 제일 위쪽에 위치하게끔 */
    height: 100vh;
    background-color: var(--yellow);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    top: 0;
}

@media screen and (max-width:530px) {   /* 530px보다 화면 크기가 작다면 */
    #no-mobile {
        display: none;
    }
} /* 화면 크기가 작은 동안은 no-mobile을 보여주지 말라는 거고, 커지면 보여줄거임 */